parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - tests/Feature/Auth/*
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Response::stream#'
        - '#Unsafe usage of new static#'
